


<div class="main">

<div class="img">
  <img src="assets/images/bg-image.png" alt="">
</div>


    <nav  > 
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      
      <label class="logo"> <img  width="150" height="60" src="assets/images/puc.png" alt=""> </label>
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">Manage Profile</a></li>
        <li><a  routerLink="/Participents" >Participation</a></li>
      
      </ul>
    </nav>
   







</div>




<!--  Body Section -->




<div  class="body">

  
<div  class="container" >


<h1>Welcome to     <Strong  style="color: blueviolet;  margin-left: 10px;"> PUCon'23</Strong></h1>

<p style="margin-top: 60px;" >june 3rd ,2023  Punjab University College of Information Technology   </p>

<button routerLink="/register">Register Now</button>

</div>




</div>